<button class="btn btn-primary" routerLink="/admin/products/form">Add new product</button>

<table class="table table-hover">
	<thead>
		<th>Code</th>
		<th>Label</th>
		<th>Description</th>
		<th>Price</th>
		<th>Store Quantity</th>
		<th>Brand</th>
	</thead>
	<tbody>
		<tr *ngFor="let p of products">
			<td>{{ p.code }}</td>
			<td>{{ p.label }}</td>
			<td>{{ p.description }}</td>
			<td>{{ p.price | currency:'USD':'symbol-narrow' }}</td>
			<td>{{ p.qteStock }}</td>
			<td>{{ p.brand?.label }}</td>
			<td>
				<a [routerLink]="['/admin/products/', p.id]">
					<i class="fa fa-edit"></i>
				</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a style="color:red" (click)="deleteProduct(p.id)">
					<i class="fa fa-remove"></i>
				</a>
			</td>
		</tr>
		<tr *ngIf="products.length == 0">
			<td>No brands found</td>
		</tr>
	</tbody>
</table>