<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink  ="/">Online Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAdmin()">
        <a class="nav-link" routerLink="/products/add" routerLinkActive="active">Add Products</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact-us</a>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0 auth-form">
      <a  *ngIf="authService.isLoggedIn()" routerLink="/cart">Cart</a>
      <button *ngIf="!authService.isLoggedIn()" class="btn btn-outline-info my-2 my-sm-0" (click)="onLogin(loginTemplate)">Login</button>&nbsp;
      <button *ngIf="!authService.isLoggedIn()" class="btn btn-outline-info my-2 my-sm-0" (click)="onRegister(registerTemplate)">Register</button>
      <button *ngIf="authService.isLoggedIn()" class="btn btn-outline-info my-2 my-sm-0" (click)="onLogout(registerTemplate)">Logout</button>
    </form> 
    
  </div>
</nav>