/* .products-container {
    margin-top: 40px;
} */

.product-item {
    margin-bottom: 50px;
}
.fs-search {
	margin: auto;
	width: 50%
}
td {
	padding-left: 40px;
}
.not-much-left {
	color: red;
}
.product-label-anchor {
	text-decoration: none;
	color: cornflowerblue
}
.stock-quantity-text, .price-text {
	font-weight: 500
}

.wrapper {
    margin: 0 auto;
}

.search-container    {
    width: 30%;
    /* height: 400px; */
    float: left;
}

.product-container  {
    /* width: 600px; */
    /* height: 400px; */
    /* margin-left: 200px; */
}

.container {
	max-width: 1570px !important;
	/* width: 100% !important; */
}