<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">D2J S.A.R.L</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products drop down</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact-us</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <form class="form-inline my-2 my-lg-0" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name="username" ngModel placeholder="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt"></i></span>
                <input class="form-control mr-sm-2" name="password" ngModel type="password" placeholder="password" aria-label="password">
        </div>
            
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  
<router-outlet></router-outlet>