
<form #f="ngForm">
	
	<div>
		<h1>Product form</h1>
		<br>
		<div class="form-group">
			<label>Code</label>
			<input required class="form-control" type="text" name="code" [(ngModel)]="product.code"/>
		</div>
		
		<div class="form-group">
			<label>Label</label>
			<input required class="form-control" type="text" name="label" [(ngModel)]="product.label"/>
		</div>
		
		<div class="form-group">
			<label>Description</label>
			<input class="form-control" type="text" name="description" [(ngModel)]="product.description"/>
		</div>
		
		<div class="form-group">
			<label>Photos</label>
			<p-fileUpload name="photos[]"
					accept="image/*"
					mode="advanced" 
					multiple="multiple"
					customUpload="false"
					(uploadHandler)="uploadPhotos($event)"
			></p-fileUpload>
		</div>

		<div class="form-group">
			<label>Price</label>
			<input required class="form-control" type="number" min="1" name="price" [(ngModel)]="product.price"/>
		</div>
		
		<div class="form-group">
			<label>Store quantity</label>
			<input required class="form-control" type="number" min="1" name="qteStock" [(ngModel)]="product.qteStock"/>
		</div>

		<div class="form-group">
			<label>Brand</label>
			<select class="form-control" name="brand" [(ngModel)]="product.brand" required>
					<option *ngFor="let brand of brands" 
						[ngValue]="brand">
						{{brand.label}}
				</option>
			</select>
		</div>

		<button class="btn btn-primary" [disabled]="f.invalid" (click)="saveProduct()">Save product</button>
		<button type="reset" class="btn btn-default" routerLink="/admin/products">Cancel</button>

	</div>
</form>

