<button class="btn btn-primary" routerLink="/admin/users/form">Create new user</button>

<table class="table table-hover">
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Birth Date</th>
		<th>Email</th>
		<th>Username</th>
		<th>Role</th>
	</thead>
	<tbody>
		<tr *ngFor="let u of users">
			<td>{{ u.firstName }}</td>
			<td>{{ u.lastName }}</td>
			<td>{{ u.bDate | date: 'dd-MM-yyyy' }}</td>
			<td>{{ u.email }}</td>
			<td>{{ u.account?.username }}</td>
			<td>{{ u.role?.roleLabel }}</td>
			<td>
				<a [routerLink]="['/admin/users/', u.id]">
					<i class="fa fa-edit"></i>
				</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a style="color:red" (click)="deleteUser(u.id)">
					<i class="fa fa-remove"></i>
				</a>
			</td>
		</tr>
		<tr *ngIf="users.length == 0">
			<td>No brands found</td>
		</tr>
	</tbody>
</table>